.cart-info {
  padding: 24px;

  @include media-query(sm) {
    width: 380px;
  }

  @include media-query(md) {
    padding: 32px 40px;
    width: 488px;
  }

  & > * + * {
    margin-top: 24px;
  }

  &__header {
    & > * + * {
      margin-left: 8px;
    }
  }

  &__alert {
    flex: 1 0 auto;
  }

  &__heading {
    color: get-color(success);
    font-weight: $font-weight-heading;
  }

  &__footer {
    & > * + * {
      margin-left: 16px;
    }
  }

  &__recommended {
    display: none;
    margin-top: 40px;

    @include media-query(sm) {
      display: block;
    }
  }

  &__recommended-list {
    margin-top: 24px;

    & > * + * {
      margin-top: 16px;
    }
  }

  &__close {
    display: block;

    @include media-query(sm) {
      transform: translate(2px, -4px) scale(1.4);
    }
  }
}
