.static-page {
  padding: 40px 0 35px 0;

  @include media-query(sm) {
    padding-top: 45px;
    padding-bottom: 40px;
  }

  &__header {
    margin-bottom: 40px;
    text-align: center;

    @include media-query(sm) {
      margin-bottom: 55px;
    }
  }

  &__heading {
    font-size: font-size-heading(38px);

    @include media-query(sm) {
      font-size: font-size-heading(46px);
    }
  }
}
