@font-face {
  font-family: 'Lato';
  src: url('./pack/HeadlandOne_n4.woff2') format('woff2'),
    url('./pack/HeadlandOne_n4.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('./pack/Lato_n7.woff2') format('woff2'),
    url('./pack/Lato_n7.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('./pack/Lato_n9.woff2') format('woff2'),
    url('./pack/Lato_n9.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'HeadlandOne';
  src: url('./pack/HeadlandOne_n4.woff2') format('woff2'),
    url('./pack/HeadlandOne_n4.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
